@import '../../../@theme/styles/themes';

@include nb-install-component() {
  nb-card {
    transform: translate3d(0, 0, 0);
  }
}

:host /deep/ div.inStock {
  background-color: #529964!important;
  text-align: center;
  padding: .375em .75em;
  border-radius: 0.25rem;
}

:host /deep/ div.outStock {
  background-color: #9c5e5e!important;
  text-align: center;
  padding: .375em .75em;
  border-radius: 0.25rem;
}